@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.maateen.me/kalpurush/font.css');

@font-face {
    font-family: bangla1;
    src: url(LiAlinurBanglabornoANSIV1.ttf);
}

@font-face {
    font-family: banglaUnicode;
    src: url(LiAlinurBanglabornoUnicode.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Nunito', sans-serif;
}

:root {
    --bg-color: #101012;
    --snd-bg-color: #252629;
    --text-color: #fff;
    --main-color: #fec502;
    --first-color: hsl(38, 92%, 58%);
    --first-color-light: hsl(38, 100%, 78%);
    --first-color-alt: hsl(32, 75%, 50%);
    --second-color: hsl(195, 75%, 52%);
    --dark-color: hsl(212, 40%, 12%);
    --white-color: hsl(212, 4%, 95%);
    --body-color: hsl(212, 42%, 15%);
    --primary: #ec994b;
    --white: #ffffff;
    --bg: #f5f5f5;
    --container-color: hsl(212, 42%, 20%);
    --body-font: "Bai Jamjuree", sans-serif;
    --h2-font-size: 1.25rem;
    --normal-font-size: 1rem;
}

html {
    font-size: 63%;
    overflow-x: hidden;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
}

section {
    height: 100vh;
    width: 100vw;
    padding: 10rem 9% 2rem;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

.logo {
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 700;
    cursor: default;
    font-family: banglaUnicode;
}

.navbar a {
    font-size: 1.5rem;
    color: var(--text-color);
    margin-left: 4rem;
    font-weight: 700;
}

.navbar a:hover,
.navbar a:active {
    color: var(--main-color);
    transition: .5s ease-in-out;
}

#menu-icon {
    font-size: 3.5rem;
    color: var(--text-color);
    display: none;
    cursor: pointer;
}

#home {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home-content h3 {
    font-size: 3.2rem;
    font-weight: 700;
    font-family: 'Kalpurush', sans-serif;

}

section#about p {
    margin-bottom: 2.6rem;
    text-align: left;
}




.home-content h1 {
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
    color: var(--main-color);
    font-family: banglaUnicode;
}

.home-content h3:nth-of-type(2) {
    margin-bottom: 2rem;
}

span {
    color: var(--main-color);
}

.text1 {
    color: var(--text-color);
}

.home-content p {
    font-size: 1.9rem;
}

.home-img img {
    width: 35vw;
    animation: floatimage 4s ease-in-out infinite;
}

@keyframes floatimage {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-2.4rem);
    }
    100% {
        transform: translateY(0);
    }
}

.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: .5s ease;
}

.social-media a:hover {
    background: var(--main-color);
    color: var(--bg-color);
    box-shadow: 0 0 1rem var(--main-color);
}

.about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    background: var(--snd-bg-color);
}

.about-img img {
    width: 35vw;
}

.heading {
    text-align: center;
    font-size: 4.5rem;
}

.about-content h2 {
    text-align: center;
    line-height: 0.8;
}

.about-content h3 {
    font-size: 2.6rem;
}

.about-content p {
    flex-wrap: wrap;
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}

.slide-container {
    align-items: center;
    justify-content: space-between;
    padding: 40px 0;
    height: 100vh;
    width: 100vw;
}

.headline {
    text-align: center;
    font-size: 4rem;
    padding: 6rem 5rem 5rem 5rem;
}

.headline1 {
    text-align: center;
    font-size: 4rem;
    padding: 6rem 5rem 5rem 5rem;
}

.slide-content {
    margin: 0 40px;
    overflow: hidden;
    border-radius: 25px;
}

.card {
    border-radius: 25px;
    background-color: #35373b;
}

.image-content,
.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;
}

.image-content {
    position: relative;
    row-gap: 5px;
    padding: 25px 0;
}

.overlay {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    border-radius: 25px 25px 90px 90px;
}

#overlay-1 {
    background-color: #02a9f7;
}

#overlay-2 {
    background-color: #3da38d;
}

#overlay-3 {
    background-color: #02a9f7;
}

#overlay-4 {
    background-color: #745b81;
}

#overlay-5 {
    background-color: #e98585;
}

#overlay-6 {
    background-color: #cb75fd;
}

.card-image {
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background: #FFF;
    padding: 3px;
}

.card-image .card-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #2ea6bc;
}

.name {
    font-size: 18px;
    font-weight: 5000;
    margin-bottom: 1rem;
    color: rgb(255, 253, 253);
    font-style: italic;
}

.description {
    font-size: 14px;
    color: #dbdbdb;
    text-align: center;
    font-weight: 900;
}

.button {
    border: none;
    font-size: 16px;
    color: #FFF;
    padding: 8px 16px;
    border-radius: 6px;
    margin: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
}

#btn1 {
    background-color: #02a9f7;
}

#btn2 {
    background-color: #3da38d;
}

#btn3 {
    background-color: #02a9f7;
}

#btn4 {
    background-color: #745b81;
}

#btn5 {
    background-color: #e98585;
}

#btn6 {
    background-color: #cb75fd;
}

.button:hover {
    background: #1f7a99;
}

.swiper-navBtn {
    color: #fff;
    transition: color 0.3s ease;
}

.swiper-navBtn:hover {
    color: #4070F4;
}

.swiper-navBtn::before,
.swiper-navBtn::after {
    font-size: 35px;
}

.swiper-button-next {
    right: 0;
}

.swiper-button-prev {
    left: 0;
}

.swiper-pagination-bullet {
    background-color: #f2f4f8;
    opacity: 1;
}

.swiper-pagination-bullet-active {
    background-color: #ffffff;
}

.portfolio {
    background: var(--snd-bg-color);
}

.portfolio h4 {
    margin-bottom: 4rem;
}

.portfolio-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2.5rem;
}

.portfolio-box {
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--snd-bg-color);
    overflow: hidden;
    display: flex;
    font-family: 'Nunito', sans-serif;
}

.portfolio-box img {
    width: 100%;
    transition: .5s ease;
    opacity: 0.7;
}

.portfolio-box:hover img {
    transform: scale(1.1);
}

.portfolio-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    background: linear-gradient(rgba(0, 0, 0, 0.1), var(--main-color));
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    transform: translateY(100%);
    transition: .5s ease;
}

.portfolio-box:hover .portfolio-layer {
    transform: translateY(0);
}

.portfolio-layer h4 {
    font-size: 3rem;
}

#h4 {
    font-size: 3rem;
    font-family: banglaUnicode;
}

.portfolio-layer p {
    font-size: 1.6rem;
    margin: 0.3rem 0 1rem;
    font-weight: 600;
    font-family: 'Nunito', sans-serif !important;
}

.portfolio-layer i {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: var(--text-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--snd-bg-color);
}

.contact h2 {
    margin-bottom: 3rem;
}

.contact form {
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}

.contact form .input-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea {
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: var(--snd-bg-color);
    border-radius: .8rem;
    margin: .7rem 0;
}

.contact form .input-box input {
    width: 49%;
}

.contact form textarea {
    resize: none;
}

.contact form .button {
    margin-top: 2rem;
    cursor: pointer;
}


.button {
    display: inline-block;
    padding: 0.75rem 1.25rem;
    border-radius: 10rem;
    color: var(--snd-bg-color);
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 0.15rem;
    transition: all 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
  }
  .button:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0cf;
    border-radius: 10rem;
    z-index: -2;
  }
  .button:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: #008fb3;
    transition: all 0.3s;
    border-radius: 10rem;
    z-index: -1;
  }
  .button:hover {
    color: #fff;
  }
  .button:hover:before {
    width: 100%;
  }
  
  
  .container {
    padding-top: 50px;
    margin: 0 auto;
    width: 100%;
    text-align: center;
  }
  
  







@media screen and (max-width: 768px) {
    .slide-content {
        margin: 0 10px;
    }
    .swiper-navBtn {
        display: none;
    }
}

@media (max-width: 1200px) {
    html {
        font-size: 55%;
    }
}

@media (max-width: 991px) {
    .header {
        padding: 2rem 3%;
        
    }

    section {
        padding: 10rem 3%;
    }

    .services {
        padding: 7rem;
    }

    .portfolio {
        padding-bottom: 7rem;
        height: auto;
    }

    .contact {
        min-height: 80vh;
    }

    .footer {
        padding: 2rem 3%;
    }
}

@media (max-width: 768px) {
    #menu-icon {
        display: block;
    }

    .navbar {
        position: fixed;
        top: 100%;
        left: 0;
        width: 100%;
        background: var(--bg-color);
        padding:1rem 3%;
        border-top:.1rem solid rgba(0, 0,0, .2);
        box-shadow:0 .5rem 1rem rgba(0, 0,0, .2);
        display: none;

    }
    .navbar.active {
      display: block;
    }

    .navbar a {
        display: block;
        margin: 3rem 0;
        font-size: 2rem;
    }

    .home {
        flex-direction: column;
    }
    .about{
        flex-direction: column;
        text-align: right;
    }
    .home-content h1 {
        font-size: 5rem;
    }
    .home-content h3 {
        font-size: 2.6rem;
    }
    .home-content {
        order: 2;
    }
    .home-img img {
        width: 70vw;
    }
    .about-img img {
        width: 90vw;
        margin-top: 2rem;
    }

    .services h2 {
        margin-bottom: 3rem;
    }

    .portfolio h2 {
        margin-bottom: 3rem;
    }

    .portfolio-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 617px) {
    .portfolio-container {
        grid-template-columns: 1fr;
    }

    .home-img img {
        width: 80vw;
    }

    .about-img img {
        width: 100vw;
        margin-top: 4rem;
    }

    /* .about-content p {
        margin: 2rem 1rem 3rem;
    } */
}

@media (max-width: 450px) {
    html {
        font-size: 50%;
    }

    .contact form .input-box input {
        width: 100%;
    }
}


@media (max-width: 768px) {
    section#about {
        flex-direction: column;
        text-align: center;
    }

    section#about img {
        margin-right: 0;
        width: 80vw;
    }
    #menu-icon {
        display: block;
    }
    .navbar {
        display: none;
        flex-direction: column;
        
        position: absolute;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        
        
    }
    .navbar.active {
        display: flex;
}
}